<footer class="py-3 mt-auto" style="background-color: #24252a">
    <div class="container  text-center">
        <span class="text-muted">
            &#169; YelpCamp 2020
        </span>
    </div>

</footer>